## BUSINESS PROBLEM

In [1]:
#FLO, an online shoe store, wants to divide its customers into segments and determine marketing strategies according to these segments. 
#To this end, customers' behaviors will be defined and groups will be created based on clusters in these behaviors.

### DATASET

In [2]:
# The data set consists of information obtained from the past shopping behavior of customers who made their last 
# purchases from Flo via OmniChannel (both online and offline shopping) in 2020 - 2021.


# Variables
# master_id: Unique customer number
# order_channel: Which channel of the shopping platform is used (Android, iOS, Desktop, Mobile)
# last_order_channel: The channel where the last purchase was made
# first_order_date: The date of the customer's first purchase
# last_order_date: The last shopping date of the customer
# last_order_date_online: The last shopping date of the customer on the online platform
# last_order_date_offline: The last shopping date of the customer on the offline platform
# order_num_total_ever_online: Total number of purchases made by the customer on the online platform
# order_num_total_ever_offline: Total number of purchases made by the customer offline
# customer_value_total_ever_offline: Total price paid by the customer for offline purchases
# customer_value_total_ever_online: Total price paid by the customer for online purchases
# interested_in_categories_12: List of categories the customer has shopped in the last 12 months

### DATA UNDERSTANDING

In [3]:
import pandas as pd
import datetime as dt
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

df_ = pd.read_csv("/Users/yasemincingoz/Desktop/crmAnalytics/FLOMusteriSegmentasyonu/flo_data_20k.csv")
df = df_.copy()
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.000,1.000,139.990,799.380,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.000,2.000,159.970,1853.580,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.000,2.000,189.970,395.350,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.000,1.000,39.990,81.980,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.000,1.000,49.990,159.990,[AKTIFSPOR]

In [4]:
df.shape
#19945 rows and 12 columns

(19945, 12)

In [5]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.000,3.111,4.226,1.000,1.000,2.000,4.000,200.000
order_num_total_ever_offline,19945.000,1.914,2.063,1.000,1.000,1.000,2.000,109.000
customer_value_total_ever_offline,19945.000,253.923,301.533,10.000,99.990,179.980,319.970,18119.140
customer_value_total_ever_online,19945.000,497.322,832.602,12.990,149.980,286.460,578.440,45220.130

In [7]:
df.isnull().sum()
#data set is clean

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

#### STEP 1

In [8]:
# Omnichannel shows that customers do shopping both inline and offline
# Create new variables for the total number of purchases and expenditures of each customer

In [9]:
df["total_number_purchases"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df["expenditures"] = df["customer_value_total_ever_online"] + df["customer_value_total_ever_offline"]

#### STEP 2

In [10]:
# Look at the data types. Change the data type expresing date to date.

In [11]:
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)

#### STEP 3

In [12]:
 # Look at the distribution of the number of customers, total number of products purchased and total expenditures in shopping channels.

In [13]:
df.groupby("order_channel").agg({"expenditures": "sum", "total_number_purchases":"sum", "master_id": "count"})

               expenditures  total_number_purchases  master_id
order_channel
Android App     7819062.760               52269.000       9495
Desktop         1610321.460               10920.000       2735
Ios App         2525999.930               15351.000       2833
Mobile          3028183.160               21679.000       4882

#### STEP 4

In [14]:
# List the top 10 customers who bring the most profits

In [15]:
df.sort_values("expenditures", ascending=False)[:10]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_purchases,expenditures
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.000,2.000,684.970,45220.130,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.000,45905.100
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.000,1.000,130.490,36687.800,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.000,36818.290
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.000,1.000,1263.760,32654.340,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.000,33918.100
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.000,1.000,538.940,30688.470,"[ERKEK, KADIN, AKTIFSPOR]",11.000,31227.410
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.000,3.000,18119.140,2587.200,[AKTIFSPOR],4.000,20706.340
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.000,4.000,843.680,17599.890,"[ERKEK, KADIN, AKTIFSPOR]",70.000,18443.570
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.000,1.000,82.480,16836.090,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.000,16918.570
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36.000,1.000,180.730,12545.370,"[ERKEK, AKTIFSPOR]",37.000,12726.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.000,1.000,49.990,12232.250,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.000,12282.240
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18.000,2.000,64.970,12038.180,"[ERKEK, KADIN]",20.000,12103.150

#### STEP 5

In [16]:
# List the top 10 customers who place the most orders

In [17]:
df.sort_values("total_number_purchases", ascending = False)[:10]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_number_purchases,expenditures
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.000,2.000,684.970,45220.130,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.000,45905.100
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.000,1.000,49.990,12232.250,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.000,12282.240
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2.000,109.000,10239.460,143.980,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111.000,10383.440
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1.000,87.000,8432.250,139.980,[ERKEK],88.000,8572.230
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2.000,81.000,3997.550,242.810,[ERKEK],83.000,4240.360
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.000,1.000,1263.760,32654.340,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.000,33918.100
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2019-02-11,2021-02-11,2021-02-11,2020-12-24,3.000,74.000,4640.770,543.280,"[KADIN, AKTIFSPOR]",77.000,5184.050
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2015-09-12,2021-04-01,2021-04-01,2019-10-08,72.000,3.000,292.930,5004.950,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",75.000,5297.880
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.000,1.000,82.480,16836.090,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.000,16918.570
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.000,4.000,843.680,17599.890,"[ERKEK, KADIN, AKTIFSPOR]",70.000,18443.570

#### STEP 6

In [18]:
# Functionalize the data preparation process.

In [19]:
def data_prep(dataframe):
    dataframe["total_number_purchases"] =  dataframe["order_num_total_ever_online"] +  dataframe["order_num_total_ever_offline"]
    dataframe["expenditures"] =  dataframe["customer_value_total_ever_online"] +  dataframe["customer_value_total_ever_offline"]
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)
    return df

In [20]:
#########################################

## CALCULATING RFM METRICS

In [21]:
# RFM analysis is marketing analysis technique  to use date based on existing customer behavior to predict 
# how a new customer is likely to act in the future.

# KEY FACTORS:
    # Recency: the fact of being recent, of having occurred a relatively short time ago. 
            # How recently they've  made a purchase
    # Frequency: total number of purchase (How often they buy)
    # Monetary: amount of money, ralting to money(how much do they spend)

In [22]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [23]:
# The analysis date is 2 days after the date of the last purchase in the data set.
analysis_date = dt.datetime(2021, 6, 1)
type(analysis_date)

datetime.datetime

In [24]:
# Recency, Frequency, Moneratary

rfm = pd.DataFrame()
# Create empty DataFrame called 'rfm'

rfm["customer_id"] = df["master_id"]
rfm["recency"] = (analysis_date - df["last_order_date"]).astype('timedelta64[D]')
#This part converts the Series of timedelta objects into a Series of integers representing the number of days. 
#The astype('timedelta64[D]') function is used to cast the timedelta objects to a specific time unit, 
#in this case, days ('D')

rfm["frequency"] = df["total_number_purchases"]
rfm["monetary"] = df["expenditures"]

rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f   95.000      5.000   939.370
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f  105.000     21.000  2013.550
2  69b69676-1a40-11ea-941b-000d3a38a36f  186.000      5.000   585.320
3  1854e56c-491f-11eb-806e-000d3a38a36f  135.000      2.000   121.970
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f   86.000      2.000   209.980

## CALCULATION RFM SCORE

In [25]:
#Convert Recency, Frequency and Monetary metrics into scores between 1-5 with the help of qcut.
#Save these scores as recency_score, frequency_score and monetary_score.

In [26]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=[5,4,3,2,1])
rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels=[1,2,3,4,5])

rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95.000,5.000,939.370,3,4,4
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105.000,21.000,2013.550,3,5,5
2,69b69676-1a40-11ea-941b-000d3a38a36f,186.000,5.000,585.320,2,4,3
3,1854e56c-491f-11eb-806e-000d3a38a36f,135.000,2.000,121.970,3,1,1
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86.000,2.000,209.980,3,1,1

In [27]:
# Express recency_score and frequency_score as a single variable and save it as RF_SCORE.

In [28]:
rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) + rfm["frequency_score"].astype(str))
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95.000,5.000,939.370,3,4,4,34
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105.000,21.000,2013.550,3,5,5,35
2,69b69676-1a40-11ea-941b-000d3a38a36f,186.000,5.000,585.320,2,4,3,24
3,1854e56c-491f-11eb-806e-000d3a38a36f,135.000,2.000,121.970,3,1,1,31
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86.000,2.000,209.980,3,1,1,31

In [29]:
# DEFINING RF SCORE AS A SEGMENT

In [30]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [31]:
rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)
#The regex=True argument indicates that the keys in the seg_map dictionary should be treated as regular expressions.

rfm

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95.000,5.000,939.370,3,4,4,34,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105.000,21.000,2013.550,3,5,5,35,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,186.000,5.000,585.320,2,4,3,24,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,135.000,2.000,121.970,3,1,1,31,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86.000,2.000,209.980,3,1,1,31,about_to_sleep
...,...,...,...,...,...,...,...,...,...
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,331.000,3.000,401.960,1,3,2,13,at_Risk
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,161.000,2.000,390.470,2,2,2,22,hibernating
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,8.000,3.000,632.940,5,3,3,53,potential_loyalists
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,108.000,6.000,1009.770,3,4,4,34,loyal_customers
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,360.000,2.000,261.970,1,2,1,12,hibernating

In [32]:
# Examine the recency, frequency and monetary averages of the segments.

In [33]:
rfm[['segment','recency','frequency', 'monetary']].groupby("segment").agg(['mean', 'count'])

                    recency       frequency       monetary
                       mean count      mean count     mean count
segment
about_to_sleep      113.785  1629     2.401  1629  359.009  1629
at_Risk             241.607  3131     4.472  3131  646.610  3131
cant_loose          235.444  1200    10.698  1200 1474.468  1200
champions            17.107  1932     8.934  1932 1406.625  1932
hibernating         247.950  3604     2.394  3604  366.267  3604
loyal_customers      82.595  3361     8.375  3361 1216.819  3361
need_attention      113.829   823     3.728   823  562.143   823
new_customers        17.918   680     2.000   680  339.956   680
potential_loyalists  37.156  2938     3.304  2938  533.184  2938
promising            58.921   647     2.000   647  335.673   647

In [34]:
# FLO is adding a new women's shoe brand.
# The product prices of the included brand are above general customer preferences.
# For this reason, it is desired to specifically contact customers with the profile that will be interested in the promotion of the brand and product sales.
# Customers who will be contacted specifically are champions, loyal_customers and people who shop in the female category. Save the ID numbers of these customers in the csv file.

In [41]:
target_segments = rfm[rfm['segment'].isin(["champions", "loyal_customers"])]["customer_id"]

cust_ids = df[(df["master_id"].isin(target_segments)) &(df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
cust_ids.to_csv("new_brand_target_customer_id.csv", index=False)
cust_ids.shape
cust_ids
#rfm

0        cc294636-19f0-11eb-8d74-000d3a38a36f
1        f431bd5a-ab7b-11e9-a2fc-000d3a38a36f
8        cfbda69e-5b4f-11ea-aca7-000d3a38a36f
11       c2e15af2-9eed-11e9-9897-000d3a38a36f
33       fb840306-1219-11ea-a001-000d3a38a36f
                         ...
19912    f63aba0e-41d8-11ea-96d9-000d3a38a36f
19913    81d0da04-a53e-11e9-a2fc-000d3a38a36f
19914    825e6b00-ab40-11e9-a2fc-000d3a38a36f
19917    f8c471c8-2596-11eb-81e9-000d3a38a36f
19926    7e1c15be-6298-11ea-9861-000d3a38a36f
Name: master_id, Length: 2497, dtype: object

In [36]:
##########################################

In [37]:
#Erkek ve Çocuk ürünlerinde %40'a yakın indirim planlanmaktadır. 
#Bu indirimle ilgili kategorilerle ilgilenen geçmişte iyi müşteri olan ama uzun süredir alışveriş yapmayan 
#kaybedilmemesi gereken müşteriler, uykuda olanlar ve yeni gelen müşteriler özel olarak hedef alınmak isteniyor. 
#Uygun profildeki müşterilerin id'lerini csv dosyasına kaydediniz.

In [42]:
target_categ_men_kid = rfm[rfm["segment"].isin(["cant_loose","hibernating","new_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_categ_men_kid)) & ((df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK")))]["master_id"]
cust_ids.to_csv("sales_target_customer_ids.csv", index=False)

cust_ids.shape
cust_ids

7        3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f
10       ae608ece-c9d8-11ea-a31e-000d3a38a36f
15       13ed97a4-b167-11e9-89fa-000d3a38a36f
19       2730793e-3908-11ea-85d6-000d3a38a36f
21       7b289956-d691-11e9-93bc-000d3a38a36f
                         ...
19910    7ab86f3e-b244-11ea-b736-000d3a38a36f
19928    8ef8cfc4-606f-11ea-8dd8-000d3a38a36f
19932    13a5e98c-a824-11e9-a2fc-000d3a38a36f
19933    6d285c64-5e73-11ea-be5b-000d3a38a36f
19936    1982ac0e-9f4c-11e9-9897-000d3a38a36f
Name: master_id, Length: 2771, dtype: object